html{
  width: 100%;
  padding: 0;
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color:#555;
    font-weight: 700;
}
.grid-wrapper{
    width: 100vw;
}
.box{
  
}
.top-info{
    padding-top:39px;
    background-color: #E16223;
    height: 60px;
  }
.top-info p{
  font-size: 1rem;
  text-align: center;
  margin-top: auto 100%;
  color: #ffffff;
}
.tab-container{
    background-color:#ffffff;
    height: 55px;
    display: flex;
    align-items: flex-end;
}
.tab-container a{
    color: #ffffff;
    background-color: #ee5e08;
    margin-right: 1rem;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px #ee5e08;
    padding: 15px 35px;
  }
.logo-content{
  width: 3rem;
  height: 3rem;
}
.inline{
  display: flex;
}
.search-form-cont{
    position: relative;
    background-color:#722d0b;
    width: 100vw;
    
}

.user-container{
    display: flex;
    justify-content: space-between;
    background-color:red;
    height: 75px;
    width: 100%;
  }
  .user-container img{
    width: 3rem;
  }
  .radio-box{
    
  }
/* dont forget to remove the display for a seamless grid */
.radio-item {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 10px 5px 0;
    font-size: 1rem;
  }
  .radio-item input[type='radio'] {
    display: none;
  }
  .radio-item label {
    color: #ffffff;
    font-weight: normal;
  }
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 4px solid #000000;
    background-color: #ee5e08;
  }
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 15px;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 11px;
    left: 6px;
    content: " ";
    display: block;
    background: #000000;
  }
  .form-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .search-area{
    background-color: chartreuse;
    width: 80%;
    margin: 0 auto;
  }
  .input-class{
    padding: 20px 0px;
    border-radius: 8px;
  }
  .info-paragraph{
    color: white;
    text-align: center;
    font-size: 16px;
    height: 120px;
  }
  .from{
    flex: 2;
  }
 .checkbox-container{
   width: 70%;
 }
 .bg-title{
   color: white;
   font-size: 5rem;
   font-weight: 700;
 }
  label{
    color: white;
    padding: 6px 2px;
    display: block;
  }

  input[type="checkbox"], span{
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
  }
  .date-container{
    display: flex;
    margin-top: 30px;
    width: 75%;
  }
  .date-container label{
    color: white;
    padding: 6px 2px;
    display: block;
  }
  
  .cabin{
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .cabin span{
    padding: 6px 2px;
  }
  .cabin input[type=checkbox]{
    align-items: flex-start;
  }
  .search-flight{
    margin-left: 70px;
    margin-top: 40px;
  }
  .search-button{
    background-color: #4F6DA9;
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: .5s;
    font-family: 'Mallanna', sans-serif;
  }
  .search-button:hover{
    background-color: tomato;
  }
  .logo{
    width: 40px;
  }
 /* while reducing to 786px, display red--for regular mobile phone*/
  @media screen and (max-width: 768px){
    .info-paragraph{
      color: white;
      font-size: 1rem;
      line-height: 2rem;
      font-family: 'Mallanna', sans-serif;
      font-weight: 900;
      padding: 30px;
    }
    .top-info{
      background: #e16223;
      height: 150px;
    }
    .tab-container a{
      height: 60px;
      font-size: 2.5rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #E16223;
      border: 1px solid #E16223;
    }
    .tab-container{
      display: flex;
      height: 120px;
      text-align: center;
      justify-content: space-around;
    }
    .box{
      width: 70%;
      height: 90px;
      margin: 0 auto;
    }
    .search-area{
      margin-left: 95px;
    }
    .radio-box{
      margin-top: -33px;
      padding-top: 30px;
    }
    .form-wrapper{
      display: flex;
      flex-direction: column;
      width: 75%;
    }
    .input-button{
      display: none;
    }
  }
  
   
  