html{
  width: 100%;
  padding: 0;
}
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color:#555;
    font-weight: 700;
    overflow-x: hidden;
}
.grid-wrapper{
    width: 100vw;
}
.box{
  padding-bottom: 20px;
}
.top-info{
    padding-top:39px;
    background-color: #0d5085;
    height: 60px;
  }
.top-info p{
  font-size: 1rem;
  text-align: center;
  margin-top: auto 100%;
  color: #ffffff;
}
.tab-container{
    background-color:#ffffff;
    height: 5px;
    display: flex;
    align-items: flex-start;
}
.tab-container a{
    color: #ffffff;
    background-color: #ee5e08;
    margin-right: 1rem;
    font-size: 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px #ee5e08;
    padding: 15px 35px;
  }
.logo-content{
  width: 3rem;
  height: 3rem;
}
.inline{
  display: flex;
}

.search-form-cont {
  background-image: url("app_bg.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 60vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 100px;
  margin-top: 20px;
  width: 100vw;
}
.box{
  margin-top: 15px;
  padding-left: 200px;
}
.logo{
  margin-left: 20px;
  height: 3rem;
  top: 12px;
  position: relative;
}
.user-container{
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 95%;
    margin: 0 auto;
  }
  .user-container img{
    width: 3rem;
  }

/* dont forget to remove the display for a seamless grid */
.radio-item {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 10px 5px 0;
    font-size: 1rem;
  }
  .radio-item input[type='radio'] {
    display: none;
  }
  .radio-item label {
    color: #ffffff;
    font-weight: normal;
  }
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 4px solid #000000;
    background-color: #ee5e08;
  }
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 15px;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 11px;
    left: 6px;
    content: " ";
    display: block;
    background: #000000;
  }
  .form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .search-area{
    background-color: #e16223;
    width: 80%;
    margin: 0 auto;
    border-radius: 9px;
    
  }
  .input-class{
    padding: 15px 0px;
    border-radius: 5px;
    border: 1px solid #e16223;
  }
  .info-paragraph{
    color: white;
    text-align: center;
    font-size: 16px;
    height: 120px;
  }
  .from{
    flex: 2;
  }
 .checkbox-container{
   width: 70%;
   padding-left: 17px;
 }
 .bg-title{
   color: white;
   font-size: 2.37rem;
   font-weight: 700;
   margin-left: 170px;
   margin-bottom: -20px;
   font-family: Heebo;
 }
 .wrap-search-area{
   margin-top: 30px;
 }
  label{
    color: white;
    padding: 6px 2px;
    display: block;
  }
 
  input[type="checkbox"], span{
    display: block;
    margin-top: 10px;
    color: white;
    font-size: 1rem;
  }
  .date-container{
    display: flex;
    margin-top: 30px;
    width: 75%;
  }
  .date-container label{
    color: white;
    padding: 6px 2px;
    display: block;
  }
  
  .cabin{
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  .cabin span{
    padding: 6px 2px;
  }
  .cabin input[type=checkbox]{
    align-items: flex-start;
  }
  .search-flight{
    margin-left: 70px;
    margin-top: 40px;
  }
  .search-button{
    background-color: #4F6DA9;
    padding: 8px 30px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: .5s;
    font-family: 'Mallanna', sans-serif;
  }
  .search-button:hover{
    background-color: tomato;
  }
  .logo{
    width: 40px;
  }

  section{
    margin: 0 auto;
    width: 65%;
    padding: 1rem;
  }
  .flex-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 4px 60px;
  }
  .flex-header h3{
    font-size: 1.454rem;
    color: black;
    line-height: 2.876rem;
  }
  .flex-header2 h3{
    font-size: 1.454rem;
    color: black;
    line-height: 2.876rem;
  }
  .flex-header a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.876rem;
  }
  .flex-header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    width: 90%;
    margin-top: 0;
  }
  .flex-header2 a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.876rem;
  }
  .bind{
    padding-bottom: 10px;
  }
  .grid-container{
    display: grid;
    padding: 2rem;
    grid-gap: 2rem;
    grid-template-columns: auto 25% 25%;
    padding-top: 0;
  } .grid-container3{
    display: grid;
    padding: 2rem;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0;
  }
  .grid-container2{
    display: grid;
    grid-template-columns: 1fr;
  }
  .s-1{
    position: relative;
    border-radius: .8rem;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1 );
  }
  .s-1:after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: #e16223;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
  }
 .box-content{
   position: absolute;
   bottom: 0;
   margin-left: 10px;
   overflow: hidden;
   color: white;
   font-size: .865rem;
   padding-bottom: 15px;
   z-index: 2;
 }
  .search-text{
    color: red;
  }
  .grid1, .grid2, .grid3{
    background-image: url("./bb.PNG"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .footer1-div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    line-height: 1.5rem;

  }
  .h3-divs{
    font-size: 1.5rem;
    line-height: 3rem;
    color: #e16223;
    font-family: Heebo;
  }
  .footer{
    width: 100vw;
    background-color: #02122c;
  }
  .footer > div{
    color: white;
  }
  .subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .basic-slide{
    width: 360px;
    margin-top: 13px;
    padding: 10px 0 10px 15px;
    font-family: Heebo;
    font-weight: 400;
    color: #e16223;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px;
    transition: all .3s ease-in-out;
  }
  .basic-slide::-webkit-input-placeholder {
    color: #e16223;
    text-indent: 0;
    font-weight: 300;
  }
  .basic-slide + label {
    position: absolute;
    top: 0;
    margin-top: 39px;
    margin-left: 374px;
    padding: 14px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #ee5e08;
    transition: all .3s ease-in-out;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .basic-slide:focus,
  .basic-slide:active {
  color: #e16223;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.basic-slide:focus + label,
.basic-slide:active + label {
  transform: translateX(-100%);
}
.div-box-right{
  background-color: #e16223;
  border-radius: 8px;
  min-width: 320px;
}
.div-box-right ul{
  margin-top: 60px;
}
.div-box-right ul li{
  display: inline;
}
.h3-right-text{
  color: white;
  padding-top: 20px;
}

 /* while reducing to 786px, display red--for regular mobile phone*/
  @media screen and (max-width: 768px){
    .info-paragraph{
      color: white;
      font-size: 1rem;
      line-height: 2rem;
      font-family: 'Mallanna', sans-serif;
      font-weight: 900;
      padding: 30px;
    }
    .top-info{
      background: #e16223;
      height: 150px;
    }
    .tab-container a{
      height: 60px;
      font-size: 2.5rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: #E16223;
      border: 1px solid #E16223;
    }
    .tab-container{
      display: flex;
      height: 120px;
      text-align: center;
      justify-content: space-around;
    }
    .box{
      width: 70%;
      height: 90px;
      margin: 0 auto;
    }
    .search-area{
      margin-left: 95px;
    }
    .radio-box{
      margin-top: -33px;
      padding-top: 30px;
    }
    .form-wrapper{
      display: flex;
      flex-direction: column;
      width: 75%;
    }
    .input-button{
      display: none;
    }
  }
  
   
  